.container h1{
    
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 69px;
    text-transform: capitalize;
    color: #FF4081;   
    margin-left: 136px;
    margin-right: 68.95%;
}
.formulario .imagem img{
    width: 444px;
}

.formulario .imagem{
   
    margin-left: 833px;
    margin-top: 199px;
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    max-width: 500px;
    color: #FF4081;
    height: 419px;
    left: 136px;
    top: 222px;
    border-radius: 4px;
    width: 50vw;
}
.formulario nomeid{
    position: absolute;
    left: 0.6%;
    right: 0%;
    top: 21.48%;
    bottom: 70.88%;
    
    background: #FFFFFF;
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px;
}

.formulario textarea {
   
    width: 493px;
    height: 193px;
    line-height: 20px;
    max-width: 400px;
    background: #FFFFFF;
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px;
}
input, textarea {
    padding: 10px;
    margin-left: 139px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #00ccff;
    color: #000000;
    font-weight: normal;
}

.enviar{
    font-family:'Ubuntu', sans-serif;
    font-style: normal;
    left: 139px;
    right: 1193px;
    top: 613px;
    bottom: 304px;
    background: #FF4081;
    border-radius: 50px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
}




/*RESPONSIVIDADE*/ 

@media only screen and (max-width: 800px) {

    .contato h1{
      margin-top:75px;
      margin-left: 30px; 
    }
    .imagem img{
        max-width: 300px;
        max-height: 405px;
        margin-top: 48px;
        margin-bottom: 89px;
       }
}