main{
    padding-left: 136px;
    padding-right: 163px;
    padding-top: 82px;
    padding-bottom: 89px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contato h1{
    padding-bottom: 44px;
    font-size: 40px;
    font-family: Ubuntu;
    color: #FF4081;

}

#contato  form div input{
    width: 496px;
    height: 32px;
    border-radius: 7px;
    margin-bottom: 15px;
    border-width: thin;
    border-style: solid;
    border-color: #686868;
    color: #58555d;
    padding-left: 21px;
}

#contato  form div textarea{
    width: 496px;
    height: 193px;
    border-radius: 7px;
    padding-left: 21px;
    padding-top: 10px;
}

#contato  form .botao{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    width: 108px;
    height: 32px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-top: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    background: #FF4081;
    border-radius: 50px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #00ccff;
    color: #000000;
    font-weight: normal;
}

main div img{
    max-width: 444px;
}

@media only screen and (max-width: 480px){
    main{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
    }

    #contato  form div input{
        width: 300px;
    
    }
    
    #contato form div textarea{
        width: 300px;

    }

    main div img{
        max-width: 280px;
        max-height: 280px;
        padding-top: 20px;
        padding-left: 10px;
    }
}