* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
}

/* FORMATAÇÃO MAIN */



.maisConteudo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.maisConteudo h1{
  font-weight: 700;
  font-size: 47px;
  line-height: 54px;
  color: #009688;
  margin-top:122px;
  max-width: 512px;
  margin-bottom: 0;
}

.maisConteudo p{  
  max-width: 461px;
  max-height: 110px;
  color: #000000;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-top: 40px;
  display: flex;
  align-items: center;  
} 
.maisConteudo img{
  max-width: 405px;
  max-height: 405px;
  margin-top: 48px;
  margin-bottom: 89px;
} 

.conteudo{
  background-color: #E5E5E5;
  background-size: 100%;
  padding-bottom: 170px;
}

.conteudo .post{
  padding-top: 109px;
}

.conteudo .retangulo{
  max-width: 518px;
  height: 259px;
  background: #c4c4c4;
}

.conteudo .texto{
  width: 516px;
  margin-top: 19px;
}

.conteudo a {
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  color: #FF4081;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 19px;
} 

.conteudo p{
  font-weight: 300;
  font-size: 17px;
  display: flex;
  line-height: 20px; 
  max-width: 516px;
  color: #000000;
}  

/* RESPONSIVIDADE */

 @media only screen and (max-width: 800px) {

.maisConteudo{
  padding: 0;
}

.maisConteudo h1{
  margin-top:75px;
  margin-left: 30px;
  max-width: 300px; 
} 

.maisConteudo p{
  max-width: 270px;
  margin-left: 30px;
  margin-top: 20px;
  
}  


.maisConteudo img{
 max-width: 300px;
 max-height: 405px;
 margin: 48px auto 89px 10px;
}  

.conteudo{
  background-color: #E5E5E5;
  background-size: 100%;
  padding-bottom: 170px;
}

.conteudo .post{
  padding-top:109px;
}

.conteudo .retangulo{
  max-width: 270px;
  height: 135px;
  background: #c4c4c4;
}

.conteudo .texto{
  max-width: 300px;
  margin-top: 19px;
}

.conteudo a {
  font-weight: 500;
  font-size: 30px;
  color: #FF4081;
  display: flex;
  align-items: center;
  max-width: 300px;
  margin-left: 15px;  
} 

.conteudo p{
  font-weight: 300;
  font-size: 17px;
  display: flex;
  line-height: 20px; 
  max-width: 300px;
  color: #000000;
  margin-left: 15px;
}  
